<form [formGroup]="settingsForm">

  <div class="mb-3">
    <h4 class="tdev-text tdev-blue">SSL Settings</h4>
  </div>

  <div class="form-group">
    <label class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" formControlName="enable">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">Enable SSL</span>
    </label>
  </div>

  <div *ngIf="settingsForm.get('enable').value">

    <div class="form-group">
      <label for="passphrase">
        SSL Passphrase
        <app-popover [content]="'Passphrase for use in combination with SSL key and cert. This may not be required for your management API'"></app-popover>
      </label>
      <div class="input-group">
        <input class="form-control" formControlName="passphrase" [type]="showPassword ? 'text' : 'password'">
        <button class="input-group-addon" (click)="showPassword =! showPassword">
          <i [ngClass]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
        </button>
      </div>
    </div>

    <div class="form-group">
      <label for="key">
        Key
        <app-popover [content]="'Key file. Must be a .pem file'"></app-popover>
      </label>
      <div class="fileUpload input-group">
        <span class="input-group-btn">
          <div class="btn btn-tdev-blue-outline">
            <i class="fa fa-search"></i>&nbsp;&nbsp;Browse
            <input type="file" class="upload" (change)="upload($event, 'key')">
          </div>
        </span>
        <input class="form-control" disabled [placeholder]="key.display || ''">
      </div>
      <div *ngIf="key.error" class="form-error">{{ key.error }}!</div>
    </div>

    <div class="form-group">
      <label for="cert">
        Cert
        <app-popover [content]="'Cert file. Must be a .pem file'"></app-popover>
      </label>
      <div class="fileUpload input-group">
        <span class="input-group-btn">
          <div class="btn btn-tdev-blue-outline">
            <i class="fa fa-search"></i>&nbsp;&nbsp;Browse
            <input type="file" class="upload" (change)="upload($event, 'cert')">
          </div>
        </span>
        <input class="form-control" disabled [placeholder]="cert.display || ''">
      </div>
      <div *ngIf="cert.error" class="form-error">{{ cert.error }}!</div>
    </div>

  </div>

  <div class="mt-3 mb-3">

    <button class="btn btn-tdev-blue" (click)="save()" [disabled]="loading && !loading.closed">
      <span *ngIf="loading && !loading.closed">
        <app-button-loading-spinner [color]="'white'"></app-button-loading-spinner>
      </span>
      <span *ngIf="!loading || loading && loading.closed">
        Save SSL settings
      </span>
    </button>
  </div>

</form>