.navbar {
  color: white;
  transition: all 0.3s;
  .navbar-brand {
    //max-width: 200px;
    img {
      cursor: pointer;
      height: 30px;
      width: auto;
      background-color: #fff;
      border-radius: 50%;
      padding: 3px;
    }
  }
  li {
    margin: 0 2px 0 2px;
  }
}